{# sign In  #}

{% extends "../layouts/base.twig" %}
{% block style %}
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Convergence&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:wght@100;400&display=swap" rel="stylesheet">

{% endblock %}

{% block tile %}MyEvents - Connexion
{% endblock %}

{% block main %}

	<h1><img src="assets/images/Titre-MyEvents.png" alt="titre principal MyEvents"></h1>

	<section class='mainSection'>
		<h2>Connectez vous à votre compte personnel</h2>

<div>
			{% if errorMessage %}
				<p class='error message'>{{ errorMessage }}</p>
			{% endif %}

			{% if successMessage %}
				<p class='message'>{{ successMessage }}</p>
			{% endif %}

		</div>
		<div class='formSignIn'>
			<form action="/login" method='POST'>
				<div class="form-group">

					<div class="form-group">
						<label for="email">Email</label>
						<input id='email' type="email" name="email" placeholder='exemple@email.fr'>
					</div>

					<div class="form-group">
						<label for="password">Mot de passe</label>
						<input id='password' type="password" name="password">

						<a href="/mdpOublie">Cliquer pour réinitialiser le mot de passe</a>
					</div>
					{% if error.email %}

						<p class='error'>{{ error.email }}</p>
					{% endif %}

					{% if error.password %}
						<p class='error'>{{ error.password }}</p>
					{% endif %}

					<div class='form-group'>
						<button type="submit">Connexion</button>
					</div>
				</form>
  
				{% if message %}
				<p>{{message}}</p>
				{% endif %}
			</div>


		</section>

	{% endblock %}
