{# dashboard utilisateur #}

{% extends "../layouts/base.twig" %}
{% block style %}
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Convergence&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:wght@100;400&display=swap" rel="stylesheet">

{% endblock %}
{% block tile %}MyEvents- dashboard
{% endblock %}

{% block main %}
	<h1><img src="/assets/images/Titre-MyEvents.png" alt="titre principal MyEvents"></h1>

	<h2>Bienvenue
		{{utilisateur.prenom}}</h2>

	<section class="mainSection">
		<h3>
			<a href="/evenement">Ajouter un événement</a>
		</h3>

		<div class="formEvenement">
			<form action="" methode="get">
				<label for="typeEvenement">Type d'événement</label>
				<select id="typeEvenement" name="typeEvenement">
					<option value="babyShower">Baby Shower</option>
					<option value="genderReveal">Gender Reveal</option>
					<option value="mariage">Mariage</option>
					<option value="feteReligieuse">Fête religieuse</option>
					<option value="anniversaire">Anniversaire</option>
					<option value="bapteme">Baptême</option>
					<option value="autre">Autre</option>
				</select>

			<label for="prestation">Prestataire</label>
				<select id="prestation" name="prestation">
					<option value="photographeVideaste">Photographe/Vidéaste</option>
					<option value="traiteur">Traiteur</option>
					<option value="dj">DJ</option>
					<option value="decorateur">Décorateur</option>
					<option value="animateur">Animateur</option>
					<option value="locationMateriel">Location de matériel</option>
					<option value="locationSalle">Location de salle/Lieu de réception</option>
					<option value="fleuriste">Fleuriste</option>
					<option value="stylistes">Styliste/Costumier</option>
					<option value="graphiste">Graphiste/Impression de supports</option>
					<option value="autre">Autre</option>
				</select>

				<label for="ville">Votre ville
				</label>
				<input type="text" id="ville" name="ville" placeholder="Entrez votre ville">

				<button type="submit">Rechercher</button>
			</form>
		</div>

		<div>

			{% for evenement in evenements %}

				<div class='evenementContainer'>
					<h4>{{evenement.titre}}</h4>

					<p>
						Type d'événement:
						{{evenement.type}}
					</p>
					<p>
						{{evenement.description}}
					</p>
					<p>Du
						<strong>{{ evenement.dateDebut|date("d/m/Y H:i") }}h</strong>
						au
						<strong>{{ evenement.dateFin|date("d/m/Y H:i") }}h</strong>
					</p>


					{% if evenement.lieu %}
						<p>Lieu :
							{{evenement.lieu}}</p>

					{% else %}
						<a class='link' href="">Ajouter un lieu pour votre événement</a>
					{% endif %}

				</div>
			{% endfor %}

		</div>
	</section>
{% endblock %}
